* {
    margin: 0;
    padding: 0;
}

header {
    height: 300px;
    background-image: url("../image/BANNER2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#daohangdiv {
    width: 90%;
    height: 50px;
    margin: 0 auto;
}

#logo {
    width: 5%;
    float: left;
    padding-left: 8px;
    transform-style: preserve-3d;
    animation: logo1 5s infinite linear;
}

@keyframes logo1 {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}

#daohang {
    float: right;
    margin: 0 0 0 40%;
}

#daohang a {
    padding: 15px 20px;
    display: block;
    float: left;
    color: white;
    text-decoration: none;
}

#daohang a:hover {
    background: #D0CFCF;
    color: black;
    transition-duration: 200ms;
}

main {
    height: 1620px;
    background: #F5F5F5;
}

#bookleftdiv {
    float: left;
    width: 1200px;
    height: 1550PX;
    margin: 25px 150px;
    /* margin: 25PX 0 0 180PX; */
    background: white;
}

#bookleftdiv h2 {
    height: 40px;
    /* background: blue; */
    margin: 60px 0 30px 0;
    font-family: "华文新魏";
}

#bookleftdiv div {
    width: 200px;
    height: 320px;
    /* background: blue; */
    float: left;
    margin: 10px 50px;
}

#bookleftdiv div img {
    width: 150px;
    height: 200px;
    margin: 25px 25px;
    /* margin: 25px 0 25px 15px; */
}


/* #leftdiv div img:hover {
    height: 204px;
    margin: 23px auto;
} */

#bookleftdiv div a {
    display: block;
    width: 180px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
    /* background: red; */
    margin: 0 auto;
}

footer {
    height: 75px;
    background: #D0CFCF;
    margin-bottom: 25px;
}

footer p {
    width: 95%;
    height: 25px;
    text-align: center;
    margin: 25px 10px;
    float: left;
}

footer p a {
    color: black;
    text-decoration: none;
}
footer p span {
        display: none;
    }

a:link,
a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: gray;
    text-decoration: underline;
}