    * {
        margin: 0;
        padding: 0;
    }
    
    header {
        height: 210px;
        background-image: url("../image/BANNER.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #daohangdiv {
        width: 90%;
        height: 50px;
        margin: 0 auto;
    }
    
    #logo {
        width: 45px;
        float: left;
        padding-top: 8px;
        padding-left: 8px;
        transform-style: preserve-3d;
        animation: logo1 5s infinite linear;
    }
    
    @keyframes logo1 {
        0% {
            transform: rotateY(0);
        }
        100% {
            transform: rotateY(360deg);
        }
    }
    
    #daohang {
        display: none;
    }
    
    main {
        display: flex;
        height: 1050px;
        background: #F5F5F5;
    }
    
    #friendlinkleftdiv {
        float: left;
        width: 375px;
        height: 980PX;
        /* margin: 25PX 0 0 180PX; */
        background: white;
    }
    
    #friendlinkleftdiv h2 {
        height: 40px;
        /* background: blue; */
        margin-bottom: 15px;
        font-family: "华文新魏";
        margin: 60px 0 30px 0;
    }
    
    #friendlinkleftdiv div {
        background: #CAE8EA;
        width: 150px;
        height: 50px;
        margin: 25px 18px;
        border-radius: 45px 0 0 45px;
        float: left;
        /* background: red; */
    }
    
    #friendlinkleftdiv div a {
        float: left;
        line-height: 50px;
        height: 80px;
        width: 150px;
        font-size: 80%;
        color: black;
        /* width: 100px; */
        /* margin: 15px 0 0 50px; */
        /* background: blue; */
        display: block;
        text-align: center;
    }
    
    #friendlinkleftdiv div a img {
        position: relative;
        float: left;
        height: 50px;
        border-radius: 45px;
    }
    
    footer {
        height: 50px;
        background: #D0CFCF;
        margin-bottom: 25px;
    }
    
    footer p {
        line-height: 50px;
        width: 95%;
        height: 25px;
        font-size: 75%;
        text-align: center;
        /* margin: 25px 10px; */
        float: left;
        /* background: red; */
    }
    
    footer p a {
        color: black;
        text-decoration: none;
    }
    
    footer p span {
        margin-left: 5px;
    }
    
    a:link,
    a:visited {
        text-decoration: none;
    }