    * {
        margin: 0;
        padding: 0;
    }
    
    header {
        height: 210px;
        background-image: url("../image/BANNER.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #daohangdiv {
        width: 90%;
        height: 50px;
        margin: 0 auto;
    }
    
    #logo {
        width: 45px;
        float: left;
        padding-top: 8px;
        padding-left: 8px;
        transform-style: preserve-3d;
        animation: logo1 5s infinite linear;
    }
    
    @keyframes logo1 {
        0% {
            transform: rotateY(0);
        }
        100% {
            transform: rotateY(360deg);
        }
    }
    
    #daohang {
        display: none;
    }
    
    main {
        display: flex;
        height: 4800px;
        background: #F5F5F5;
    }
    
    #leftdiv {
        display: flex;
        flex-wrap: wrap;
        font-size: 75%;
        float: left;
        width: 375px;
        height: 4750PX;
        /* margin: 25PX 0 0 180PX; */
        background: white;
        overflow: hidden;
    }
    
    #more {
        float: right;
        padding: 0;
        margin: 0;
        color: black;
        /* line-height: 50px; */
        display: block;
        font-family: 黑体;
        font-size: 50%;
        width: 50px;
        height: 30px;
    }
    
    #articleleftdiv {
        float: left;
        width: 375px;
        height: 900PX;
    }
    
    #articleleftdiv h1 {
        height: 50px;
        margin: 30px 0 10px 0;
        font-family: "华文新魏";
    }
    
    #articleleftdiv h2 {
        height: 25px;
        font-size: 100%;
        margin-bottom: 15px;
        font-family: "华文新魏";
    }
    
    #articletopbar {
        height: 5px;
        background: #D0CFCF;
        /* margin-bottom: 25px; */
    }
    
    #articletext {
        height: 900PX;
    }
    
    #articletext P {
        text-indent: 2rem;
        line-height: 45px;
        margin: 5px 10px;
        font-family: "等线";
        color: black;
    }
    
    #bookleftdiv {
        float: left;
        width: 375px;
        height: 700PX;
        background: white;
    }
    
    #bookleftdiv h2 {
        height: 40px;
        margin: 30px 0 15px 0;
        font-family: "华文新魏";
    }
    
    #bookleftdiv div {
        width: 120px;
        height: 200px;
        float: left;
        /* background: red; */
        margin: 0 32px;
    }
    
    #bookleftdiv div img {
        width: 110px;
        height: 146px;
        /* margin: 25px 25px; */
    }
    
    #bookleftdiv div a {
        display: block;
        /* width: 180px;
        height: 30px; */
        text-align: center;
        font-size: 75%;
        padding-top: 10px;
        padding-bottom: 25px;
        /* margin: 0 auto; */
    }
    
    #lunbodiv {
        width: 375px;
        height: 240px;
        overflow: hidden;
    }
    
    #d2 {
        float: left;
        width: 375px;
        height: 240px;
        margin: 0;
        padding: 0;
    }
    
    #d2 img {
        height: 240px;
    }
    
    .changtu {
        width: 3750px;
        font-size: 0;
        left: 0;
        animation: lunbo 45s 1s infinite;
    }
    
    @-webkit-keyframes lunbo {
        0%,
        10% {
            margin-left: 0;
        }
        10%,
        20% {
            margin-left: -375px;
        }
        20%,
        30% {
            margin-left: -750px;
        }
        30%,
        40% {
            margin-left: -1125px;
        }
        40%,
        50% {
            margin-left: -1500px;
        }
        50%,
        60% {
            margin-left: -1875px;
        }
        60%,
        70% {
            margin-left: -2250px;
        }
        70%,
        80% {
            margin-left: -2625px;
        }
        80%,
        90% {
            margin-left: -3000px;
        }
        90%,
        100% {
            margin-left: 0px;
        }
    }
    
    #wallpaperleftdiv {
        float: left;
        width: 375px;
        height: 600PX;
        background: white;
    }
    
    #wallpaperleftdiv h2 {
        height: 40px;
        margin: 25px 0 15px 0;
        font-family: "华文新魏";
    }
    
    #wallpaperleftdiv div {
        width: 175px;
        height: 150px;
        background: white;
        float: left;
        margin: 5px 6px;
    }
    
    #wallpaperleftdiv div a img {
        width: 175px;
        /* height: 240px; */
        /* margin: 10px 12px; */
    }
    
    #musicleftdiv {
        float: left;
        width: 375px;
        height: 600PX;
        background: white;
    }
    
    #musicleftdiv h2 {
        height: 40px;
        margin: 30px 0 15px 0;
        font-family: "华文新魏";
    }
    
    #musicleftdiv table {
        width: 360px;
        height: 450px;
        margin: 10px 6px;
        font-family: 等线;
    }
    
    #musicleftdiv table caption {
        text-align: left;
        font-family: 黑体;
    }
    
    #musicleftdiv table tr:nth-child(odd) {
        background: #E6E6E6;
    }
    
    #musicleftdiv table tr td:nth-child(1) {
        width: 20px;
        text-align: center;
    }
    
    #musicleftdiv table tr td:nth-child(2) {
        width: 200px;
    }
    
    #musicleftdiv table tr td:nth-child(3) {
        width: 100px;
    }
    
    #videoleftdiv {
        float: left;
        width: 375px;
        height: 1200PX;
        background: white;
        font-size: 90%;
    }
    
    #videodiv1 {
        height: 700px;
    }
    
    #videodiv1 h2 {
        height: 40px;
        font-family: "华文新魏";
        margin: 30px 0 15px 0;
    }
    
    #videodiv1 div {
        width: 165px;
        height: 260px;
        float: left;
        margin: 5px 11px;
    }
    
    #videodiv1 img {
        float: left;
        height: 220px;
        margin-bottom: 10px;
    }
    
    #videodiv1 div a {
        text-align: center;
        float: left;
    }
    
    #linksleftdiv {
        float: left;
        width: 375px;
        height: 450PX;
        background: white;
    }
    
    #linksleftdiv h2 {
        height: 40px;
        font-family: "华文新魏";
        margin: 30px 0 15px 0;
    }
    
    #linksleftdiv div {
        float: left;
        width: 75px;
        height: 120px;
        margin: 5px 9px 0 9px;
    }
    
    #linksleftdiv div a {
        float: left;
        display: block;
        background: white;
        text-align: center;
    }
    
    #linksleftdiv div a img {
        float: left;
        height: 75px;
        padding-bottom: 12px;
    }
    
    #rightdiv {
        display: none;
    }
    
    footer {
        font-size: 50%;
        height: 50px;
        background: #D0CFCF;
        margin-bottom: 25px;
    }
    
    footer p {
        width: 95%;
        height: 25px;
        text-align: center;
        line-height: 50px;
        float: left;
    }
    
    footer p span {
        margin-left: 5px;
    }
    
    a {
        color: black;
        text-decoration: none;
    }