    * {
        margin: 0;
        padding: 0;
    }
    
    header {
        height: 210px;
        background-image: url("../image/BANNER.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #daohangdiv {
        width: 90%;
        height: 50px;
        margin: 0 auto;
    }
    
    #logo {
        width: 45px;
        float: left;
        padding-top: 8px;
        padding-left: 8px;
        transform-style: preserve-3d;
        animation: logo1 5s infinite linear;
    }
    
    @keyframes logo1 {
        0% {
            transform: rotateY(0);
        }
        100% {
            transform: rotateY(360deg);
        }
    }
    
    #daohang {
        display: none;
    }
    
    main {
        display: flex;
        font-size: 75%;
        height: 1850px;
        background: #F5F5F5;
    }
    
    #wallpaperleftdiv {
        float: left;
        width: 375px;
        height: 1800PX;
        /* margin: 25px 130px; */
        /* margin: 25PX 0 0 120PX; */
        background: white;
    }
    
    #wallpaperleftdiv h2 {
        height: 40px;
        /* background: blue; */
        margin: 60px 0 30px 0;
        font-family: "华文新魏";
    }
    
    #wallpaperleftdiv div {
        width: 175px;
        height: 140px;
        /* background: blue; */
        float: left;
        margin: 5px 6px;
    }
    
    #wallpaperleftdiv div a img {
        width: 175px;
        /* height: 150px; */
        /* margin: 25px 25px; */
        /* margin: 25px 0 25px 15px; */
    }
    
    footer {
        height: 50px;
        background: #D0CFCF;
        margin-bottom: 25px;
    }
    
    footer p {
        line-height: 50px;
        font-size: 75%;
        width: 95%;
        height: 25px;
        text-align: center;
        float: left;
        /* background: red; */
    }
    
    footer p a {
        color: black;
        text-decoration: none;
    }
    
    footer p span {
        margin-left: 5px;
    }
    
    a:link,
    a:visited {
        text-decoration: none;
    }